.tab1 {
    width: 1200px;
    height: 450px;
    border: 1px solid #333;
    overflow: auto; 
    background-color: rgb(217, 243, 243);
    border-radius: 30px 0 0 30px;
   
}

.tab {
    width: 200px;
    height: 150px;
    background-color: #c0b67e;
    border: 2px solid #232423;
    display: inline-block; 
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
   

}